<section class="contact-section">
    <div class="container">

        <h2 class="title">Have a project in mind? Let's work together</h2>

        <p class="description">I'm always excited to collaborate on new ideas and meaningful projects. Whether
            you're
            launching a product,
            improving an existing platform, or exploring innovative solutions, let's connect and bring your vision
            to
            life.
        </p>

        <div class="action-btns">
            <button class="btn-primary" (click)="openLink('mailto:abubakkarsithiq222@gmail.com')">
                <i style="margin-right: 10px;" class="fa-solid fa-envelope"></i>
                Gmail
            </button>
            <button class="btn-primary" (click)="openLink('https://www.linkedin.com/in/abubakkar-sithiq-m-b9234324b/')">
                <i style="margin-right: 10px;" class="fa-brands fa-linkedin-in"></i>
                LinkedIn
            </button>
            <button class="btn-primary" (click)="openLink('https://wa.me/971554566416')">
                <i style="margin-right: 10px;" class="fa-brands fa-whatsapp"></i>
                WhatsApp
            </button>
            <!-- <button class="btn-primary" (click)="openLink('https://github.com/abu-532')">
                <i style="margin-right: 10px;" class="fa-brands fa-github"></i>
                GitHub
            </button> -->
            <button class="btn-primary" (click)="downloadCV()">
                <i style="margin-right: 10px;" class="fa-solid fa-download"></i>
                Download CV
            </button>
        </div>

    </div>
</section>