<section class="hero-section">
    <div class="background">
        <div class="left-part"></div>
        <div class="right-part">
            <div class="inner">
                <div class="image" style="background-image: url('assets/images/home-bg.png');"></div>
                <div class="overlay_color"></div>
                <div class="my_overlay loaded"></div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="content-inner">
                <h3 class="stroke_title">Abubakkar</h3>
                <h3 class="simple_title">Sithiq M</h3>
                <p class="sub_title">
                    Full Stack Developer
                </p>

                <!-- Scroll Indicator -->
                <div class="scroll-indicator">
                    <div class="scroll-line">
                        <div class="scroll-line-fill"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>